<h1>Testing Index</h1>

<h3>Welcome {{Users.name}}</h3>

<form action="quiz" method="get">
    <input type="submit" name="quiz" value="LETS PLAY!" />
</form>

<form action="logout" method="get">
    <input type="submit" name="logout" value="LOGOUT" />
</form>