<h1>WHO DIS?</h1>
<div>{{#each questions}}
    <p>{{dataValues.question}}</p>
    <form method="POST">
        <input type="hidden" name="questId" value="{{dataValues.id}}" />
        <input type="hidden" name="questions" value="{{dataValues.question}}" />
        <input type="radio" class="yes" name="yes_no" value="yes">Yes</input>
        <input type="radio" class="no" name="yes_no" value="no">No</input>
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
    {{/each}}
</div>
<br>
<br>
<form action="logout" method="get">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
