<h1>Testing questions</h1>

<div>{{#each questions}}
    <p>{{dataValues.question}}</p>
    {{/each}}
</div>

<form action="logout" method="get">
    <input type="submit" name="logout" value="LOGOUT" />
</form>

<form action="quiz" method="get">
    <input type="submit" name="quiz" value="LETS PLAY!" />
</form>