<h1>Testing Index</h1>

<ol>
    {{#each dbQuestions}}

    {{/each}}
</ol>

<div>{{#each questions}}
    <p>{{dataValues.question}}</p>
    <input type="radio" name="yes">yes</input>
    <input type="radio" name="no">No</input>
    {{/each}}
</div>

<form action="logout" method="get">
    <input type="submit" name="logout" value="LOGOUT" />
</form>

<form action="quiz" method="get">
    <input type="submit" name="quiz" value="LETS PLAY!" />
</form>