<h1>Testing questions</h1>

<div>{{#each questions}}
    <p>{{dataValues.question}}</p>
    {{/each}}
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" name="yes_no">Yes</input>
    </br>
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" name="yes_no">No</input>
</div>
<form action="next" method="get">
    <input type="submit" name="next" value="NEXT" />
</form>

<form action="logout" method="get">
    <input type="submit" name="logout" value="LOGOUT" />
</form>

<form action="quiz" method="get">
    <input type="submit" name="quiz" value="SUBMIT" />
</form>