h1 {
    font-size: 100px;
    font-family: 'Sedgwick Ave Display', cursive;
    text-align: center;
    color: black;
}

#button-addon2 {
    width: 300px;
    align-items: center;
    margin-left: 40%;
    margin-top: 15%;
}

.leaders {
    color: black;
    column-count: 3;
    column-gap: 5px;
}

.leaderboardRow {
    color: black;
}

.scoreboard {
    margin-left: 40px;
}

.questions {
    margin-left: 85%;
    position: absolute;
    margin-top: -200px;
    font-family: 'Lakki Reddy', cursive;
}